@import "variables";

@import "microreset";
@import "bootstrap";

@import "fonts";



body {
    background: #f9f9f9;
    background: linear-gradient(to bottom, #f9f9f9 1%,#fafafa 100%);
}

.app {
    &__header {
        padding: 5px;
        background-color: $theme-base-color;
        color: white;
        font-weight: 700;
        font-size: 20px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__content {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding: 30px;
    }
}

.project-list {
    &__item {
        box-shadow: $element-shadow-base;
        background-color: white;
    }

    &__header {
        background-color: lighten($theme-base-color, 10%);
        color: white;
    }

    &__header,
    &__actions,
    &__repo {
        padding: 5px 8px;
    }

    &__actions {
        position: absolute;
        top: -5px;
        right: -2px;
        width: 30px;

        .button {
            width: 30px;
        }

    }

    &__branch-name {
        font-size: 20px;
        font-weight: 700;
    }

    &__search {
        margin-bottom: 30px;
    }

    &__project-name {
        font-weight: 700;
    }

    &__project-repo {
        font-size: 12px;
    }
}

.project-create {
    box-shadow: $element-shadow-base;
    background-color: white;

    &__header {
        background-color: lighten($theme-base-color, 10%);
        color: white;
    }

    input[type="text"]{
        padding: 3px 5px;
        width: 100%;
        margin: 5px 0;
        border: 1px solid rgba(black, 0.2);
    }


    &__header,
    &__content {
        padding: 5px 8px;
    }

    &__branches {
        padding: 8px 0;
    }

    &__branch {
        padding: 5px 8px;
        background-color: rgba(black, 0.05);
        margin: 10px 0;
    }
}


.button {
    display: inline-block;
    padding: 5px 8px 2px;
    cursor: pointer;
    border: 0;
    text-align: center;

    font-weight: 700;
    background-color: $theme-base-color;
    color: white;
    text-decoration: none;
    outline: none;

    box-shadow: 0;

    &:hover {
        color: white;
        text-decoration: none;
        box-shadow: 0 0 8px rgba(black, 0.2);
        background-color: lighten($theme-base-color, 20%);
    }
    
    span {
        display: inline-block;
        padding-left: 5px;
    }
}
