$font-family-sans-serif:      'Open Sans', Arial, sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$grid-gutter-width: 30px;

$element-shadow-base: 0 0 15px rgba(black, 0.2);

$theme-base-color: #d02a05;
$theme-light-color: #e9eaed;
